
body {
    background-color: #24252A;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     /*#C6D5E9*/
}

li, a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

li a {
    background-color: #24252A;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 10%;
    background-color: #24252A;
}

.logo {
    padding-top: 5px;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    margin-left: 20px;
    background-color: #229cde;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #1b7db1;
}

#page-footer {
	background-color: #1c1c1f;
    color: #edf0f1;
	padding: 1rem;
	display: flex;
	justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*do vamo header i footer*/

h2 {
    width: 100%;
    padding: 15px 15px; 
}

h2 .path {
    font-size: 1em;
    font-weight: bold; 
}

/*h2 a {
    width: 100%;
    padding: 15px 15px;
    display: block;
    font-size: 1em;
    font-weight: bold; 
}*/

.folderi {
    background-color: #313235; /*aliceblue*/
    color: #edf0f1;
    margin: 40px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.folder-ikona {
    margin: 30px;
}

.folder-txt {
    text-align: center;
}

.folder {
    margin: 15px;
}

#file-link:hover {
    cursor: pointer;
}

/*pocetak preview file*/
.preview-file {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centriranje po sredini */
    width: 750px;
    height: 750px;
    max-height: 80%; /* Maksimalna visina prozora */
    overflow-y: auto; /* Omogućuje pomicanje ako sadržaj premašuje visinu */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.preview-file.open {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
}
/*kraj preview file*/