*{
    margin: 0;
    padding: 0;
}

.pre-header{
    background-color: rgb(36, 13, 68);
    color: rgb(240, 216, 186);
    height: 60px;
}

.secondary-menu{
    list-style: none;
}

.pre-header .secondary-menu li{
    display:inline-block;
    margin-left: 15px;
    padding-top: 15px;
}

.pre-header .secondary-menu li a{
    color: rgb(240, 216, 186);
    text-transform: uppercase;
}

.main-nav .main-menu {
    list-style: none;
}

.main-nav .main-menu li {
    display: inline-block;
}

.main-nav .main-menu li a{
    color:rgb(100, 17, 178);
}
